* {
  box-sizing: border-box;

  margin: 0;

  padding: 0;
}

body {
  align-items: center;

  background-color: #333;

  display: flex;

  flex-direction: column;

  font-family: Helvetica;

  min-height: 100vh;
}

.grid-container {
  display: grid;

  grid-template-areas: 
    'header header header header header'
    'nav main main main main'
    'footer footer footer footer footer';

  height: 100vh;

  width: 100%;
}

header, nav, main, footer {
  align-items: center;

  background-color: #0875BD;

  color: #FFF;

  display: flex;

  font-size: 1.5rem;

  justify-content: center;
}

header {
  border-bottom: 3px solid #FFF;

  grid-area: header;

  height: 10vh;
}

nav {
  border-right: 3px solid #FFF;

  grid-area: nav;

  height: 80vh;
}

main {
  grid-area: main;

  height: 80vh;
}

footer {
  border-top: 3px solid #FFF;

  grid-area: footer;

  height: 10vh;
}